<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<main>
  <section class="layout">
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>
      <section data-name="<%= member.name %>" data-id="<%= member.id %>" class="members <%= member.slug %>"
        <% if (member.colour) { %>
          style="--favo-kleur: <%= member.colour.hex %>"
          <% } %>
      > 
        <h2 id="person-name" class="<%= member.name %>"><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
      <% if (member.avatar) { %>
        <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
        <% }else{ %>
          <img src="images/placeholder.jpg" alt="Placeholder avatar" />
          <% } %>
        </section>
    <% }) %>
  </section>

  <%- include('./partials/dialog.ejs') %>
</main>

<%- include('./partials/foot.ejs') %>